<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Price</th>
      <th>Publication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.description %></td>
        <td><%= game.picture.present? %></td>  <!-- Lembrar de remover o '.present?' -->
        <td><%= game.price %></td>
        <td><%= game.publication %></td>
        <td><%= link_to 'Show', game %></td>
        <%if current_user.admin%>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @games %>
<%if current_user.admin%>
  <%= link_to 'New Game', new_game_path %>
<%end%>