<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Picture:</strong>
  <% if @game.picture.present?%>
    <%= image_tag @game.picture.small.url %>
  <% else %>
    <p>No picture available</p>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @game.publication %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<p>Adicionar Categoria:</p>

  <%= form_for(@newGameCategory, as: :newCategory, url: 'addCategory') do |form| %>
    <%= form.hidden_field :game_id, value: @game.id %>

    <%= form.select :category_id, @categories.collect { |category| [category.name, category.id] } %>

    <%= form.submit "Adicionar Categoria" %>
  <% end %>

<h3>Categorias do Jogo:</h3>
  <% @gameCategories.each do |c| %>
    <p><%= c.name %></p>
    <%= link_to 'Deletar categoria', '/games/'+@game.id.to_s+'/'+c.id.to_s, method: :delete %>
  <% end %>