<!DOCTYPE html>
<html>
  <head>
    <title>Steam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <nav id='mainNav' class='container'>
        <ul>

          <li>
            <%=link_to 'Meu Perfil', '/users/'+current_user.id.to_s%>
          </li>

          <li>
            <%=link_to 'Usuários', '/users'%>
          </li>

          <li>
            <%=link_to 'Jogos', '/games'%>
          </li>

          <li>
            <%=link_to 'Categorias', '/categories'%>
          </li>

          <li>
            <%= link_to 'Log out', '/users/logout', method: :delete %>
          </li>

        </ul>
      </nav>
    <% end %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
