
<h2>Dados do Usuário:</h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
    <% if @user.admin %>
      Sim.
    <%else%>
      Não.
    <% end %>
</p>
<% if current_user.admin or current_user.id == @user.id %>
  <%= link_to 'Edit', '/users/edit' %> |
<% end %>
<%= link_to 'Back', users_path %>

<!-- Listando Jogos pertencentes a esse usuário. -->

<div class="container">
  <h2>Jogos de <%= @user.name %>:</h2>
    <% @jogos.each do |jogo|%>
      <div class="jogoUsuario">
        <h3>
          <%= jogo.name %>
        </h3>
        
        <p>
          <%= jogo.description %>
        </p>

        <% if jogo.picture.present? %>
          <%= image_tag jogo.picture.small.url %>
        <% end %>

        <%= link_to 'Acessar o jogo', jogo %>
      </div>
    <% end %>
</div>