<p id="notice"><%= notice %></p>

<h2>Dados da Categoria:</h2>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<div class="container">
  <% @jogos.each do |jogo| %>
    <div class="jogoUsuario">
        <h3><%= jogo.name %></h3>
        <p><%= jogo.description %></p>
        <%= link_to 'Acessar o jogo', jogo %>
    </div>
  <% end %>
</div>