// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jogoUsuario {
    width: 240px;
    height: 150px;
    float: left;
    text-align: center;
}
